/* GLOBAL */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600;700;900&family=Fraunces:wght@700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 112.5%;

    --header1: 4.209rem;
    --header2: 3.157rem;
    --header3: 2.369rem;
    --header4: 1.777rem;
    --header5: 1.333rem;
    --text: 1rem;
    --big: 5.61rem;
    --small: 0.75rem;

    --soft-red: hsl(7, 99%, 70%);
    --yellow: hsl(51, 100%, 49%);
    --graphic-design-text: hsl(167, 40%, 24%);
    --photography-text: hsl(198, 62%, 26%);
    --footer: hsl(168, 34%, 41%);
    --footer-bg: #90D4C5;
    --very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --very-dark-grayish-blue: hsl(213, 9%, 39%);
    --dark-grayish-blue: hsl(232, 10%, 55%);
    --grayish-blue: hsl(206, 4%, 67%);
    --white: hsl(0, 0%, 100%);
    /* font-family: 'Fraunces', serif;  */
}

body {
    background: white;
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    line-height: 1.75;
}

p {margin-bottom: 1rem;}

h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  font-family: 'Fraunces', serif;
  font-weight: 700;
  line-height: 1.3;
}

h1 {
    margin-top: 0;
    font-size: var(--header1);
}

h2 {
    font-size: var(--header2);
}

h3 {
    font-size: var(--header3);
}

h4 {
    font-size: var(--header4);
}

h5 {
    font-size: var(--header5);
}

li,
button,
label,
input,
a,
p {
    font-size: var(--text);
}

small {
    font-size: var(--small);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* DESKTOP */

/* 1. NAVBAR DESKTOP*/
.main-header {
    background-image: url('./images/desktop/image-header.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.main-header h1 {
    text-transform: uppercase;
    text-align: center;
    color: var(--white);
    letter-spacing: 1rem;
    margin: 5rem 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    position: relative;
}

.logo {
    display: flex;
    flex: 1 1 40rem;
    justify-content: flex-start;
    margin-left: 5vw;
}

.logo img {
    height: 2rem;
    width: auto;
}

.burger-menu {
    display: flex;
    justify-content: center;
}

.nav-bar{
    flex: 1 1 40rem;
    display: flex;
   justify-content: space-evenly;
}

.nav-bar a {
    color: white;
    font-size: 1.2rem;
    padding: 1.2rem 2rem;
    border-radius: 5rem;
}

.nav-bar a:hover {
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
    text-transform: uppercase;
    font-family: 'Fraunces', serif;
    font-weight: 700;
}

.nav-bar a:focus {
    color: black;
    background-color: rgba(255, 255, 255, 1);
}

#hamburger {
    display: none;
}

/* 2. HERO  DESKTOP*/
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero img {
    width: auto;
    height: 150px;
}

/* 3. FEATURES DESKTOP*/

.features-container {
    display: grid;
    grid-gap: 0;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}

.img-item {
    width: 100%;
    height: 100%;
}

.feature-item>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item-1 a:hover {
    box-shadow: -5px 18px 1px -5px var(--yellow);
    border: none;
    border-radius: 10px;
}

.item-4 a:hover {
    box-shadow: -5px 18px 1px -5px var(--soft-red);
    border: none;
    border-radius: 10px;
}

.txt-item {
    padding: 0 9.5vw;
    color: var(--very-dark-grayish-blue);
}

.txt-item p {
    font-size: 1.3rem;
}


.txt-item h2 {
    margin: 0 0 1.38rem;
    color: var(--very-dark-desaturated-blue); 
}
.txt-item a{
    color: var(--very-dark-desaturated-blue); 
    text-transform: uppercase;
    font-family: 'Fraunces', serif;
    font-weight: 900;
    line-height: 1.3;
}

.item-5, .item-6 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.item-5 {
    background-image: url(./images/desktop/image-graphic-design.jpg);
    color: var(--graphic-design-text);
}

.item-6 {
    background-image: url(./images/desktop/image-photography.jpg);
    color: var(--photography-text);
}

.service-text {
    min-height: 20vw;
    padding: 0 12vw;
} 

.service-text p {
    font-size: 1.2rem;
}

/* 4. TESTIMONIALS DESKTOP*/
.testimonials {
    text-align: center;
    margin: 10rem 0;
}

.testimonials p {
    color: var(--very-dark-grayish-blue);
}

.testimonials strong {
    font-family: 'Fraunces', serif;
    font-weight: 900;
    color: var(--very-dark-desaturated-blue);
    margin-top: 3rem;
}

.testimonials small {
    color: var(--dark-grayish-blue);
}

.testimonials h4 {
    font-size: var(--header5);
    text-transform: uppercase;
    color: var(--grayish-blue);
    letter-spacing: 0.3rem;
    margin: 5rem 0 2rem;
}

.testimonial-feedback {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 10rem;
}

.testimonial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    flex: 1 1 15rem;
}

.testimonial img {
    width: 5rem;
    height: auto;
    border-radius: 50%;
    margin: 3rem 0;
}

/* 5. IMAGES BAR DESKTOP*/
.images-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0 0;
}

.image-item img {
    display: block;
    width: 100%;
    height: 100%;
}

/* 6. FOOTER DESKTOP*/
#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
    background-color: var(--footer-bg);
}

#footer-logo {
    fill: var(--graphic-design-text);
}

.footer-logo {
    margin-bottom: 1rem;
}

.footer-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.footer-links li {
    padding: 0 1.5rem;
}

.footer-links a {
    color: var(--footer);
}

.footer-links a:hover {
    color: white;
}


.footer-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}

.footer-icons svg {
    margin: 0 1rem;
}

.footer-icons svg:hover path{
    fill: white;
}


/* MOBILE */
@media screen and (max-width: 1360px) {

    .feature-item h2{
        font-size: var(--header3);
    }

    .feature-item p {
        font-size: var(--text);
    }

    .service-item h3 {
        font-size: var(--header4);
    }

    .service-text {
        padding: 0 5vw;
    } 

    .txt-item {
        padding: 5vw;
    }

    .txt-item a{
        font-size: var(--small);
        font-weight: 900;
        line-height: 1.3;
    }

    .testimonials {
        margin: 4rem 0;
    }

    .testimonial-feedback {
        padding:3rem;
    }

    .testimonials strong {
        margin-top: 1rem;
    }

    .testimonials h4 {
        font-size: var(--text);
        margin: 0;
        letter-spacing: 0.2rem;
    }


}


@media screen and (max-width: 1024px) {
    .burger-menu{
        margin-right: 5vw;
    }
    
    #hamburger {
        display: block;
        width: 2rem;
        height: auto;
        cursor: pointer;
    }
    
    .nav-bar {
        display: none;
    }

    .nav-bar.open {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: center;
        background-color: white;
        position: absolute;
        top: 20vh;
        right: 5vw;
        left: 5vw;
        padding: 2rem 0;
    }

    .nav-bar.open::after{
        content: "";
        position: absolute;
        bottom: 100%;
        right: 0%;
        border-width: 1rem;
        border-style: solid;
        border-color: transparent;
        border-right-color: white;
        border-bottom-color: white;
    }

    .nav-bar.open li{
        margin: 1rem 0;
    }

    .nav-bar.open a{
        color: var(--very-dark-grayish-blue);
    }
    
    .nav-bar a:hover {
        color: black;
        background-color: rgba(250, 212, 0, 0.8);
        text-transform: uppercase;
        font-family: 'Fraunces', serif;
        font-weight: 700;
    }
    
    .nav-bar a:focus {
        color: black;
        background-color: rgba(250, 212, 0, 0.8);
    }


}

@media screen and (max-width: 768px) {

    /* HERO  MOBILE*/
    .main-header h1 {

        font-size: calc(1rem + 6vw);
        color: var(--white);
        letter-spacing: 0.5rem;
        margin: 5rem 0;
    }

    /* FEATURES MOBILE*/

    .features-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
        justify-items: center;
        align-items: center;
    }

    .feature-item h2, .feature-item h3, .feature-item p, .feature-item a{
        display: block;
        text-align: center;
    }

    .txt-item {
        padding: 5vw;
    }

    .txt-item p {
        font-size: 0.9rem;
    }
    .txt-item h2 {
        font-size: var(--header4);
    }

    .service-text {
        padding: 2vw;
    }
    .service-text h3 {
        margin-bottom: 0.5rem;
    }

    .service-text p {
        font-size: 0.8rem;
    }



    .item-1 {
        grid-row: 2/3;
    }

    /* TESTIMONIALS MOBILE*/

    .testimonial-feedback {
        flex-direction: column;
        padding: 0.5rem;
    }

    /* IMAGES BAR MOBILE*/
    .images-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    /* FOOTER MOBILE*/

    .footer-links li{
        padding: 0 0 0 1rem;
        text-align: center;
    }
}

