/* GLOBAL */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600;700;900&family=Fraunces:wght@700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 112.5%;

    --header1: 4.209rem;
    --header2: 3.157rem;
    --header3: 2.369rem;
    --header4: 1.777rem;
    --header5: 1.333rem;
    --text: 1rem;
    --big: 5.61rem;
    --small: 0.75rem;

    --soft-red: hsl(7, 99%, 70%);
    --yellow: hsl(51, 100%, 49%);
    --graphic-design-text: hsl(167, 40%, 24%);
    --photography-text: hsl(198, 62%, 26%);
    --footer: hsl(168, 34%, 41%);
    --very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --very-dark-grayish-blue: hsl(213, 9%, 39%);
    --dark-grayish-blue: hsl(232, 10%, 55%);
    --grayish-blue: hsl(206, 4%, 67%);
    --white: hsl(0, 0%, 100%);
    /* font-family: 'Fraunces', serif;  */
}

body {
    background: white;
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    line-height: 1.75;
}

p {margin-bottom: 1rem;}

h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  font-family: 'Fraunces', serif;
  font-weight: 700;
  line-height: 1.3;
}

h1 {
    margin-top: 0;
    font-size: var(--header1);
}

h2 {
    font-size: var(--header2);
}

h3 {
    font-size: var(--header3);
}

h4 {
    font-size: var(--header4);
}

h5 {
    font-size: var(--header5);
}

li,
button,
label,
input,
a,
p {
    font-size: var(--text);
}

small {
    font-size: var(--small);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* DESKTOP */

/* 1. NAVBAR DESKTOP*/
.main-header {
    background-image: url('./images/desktop/image-header.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.main-header h1 {
    text-transform: uppercase;
    text-align: center;
    color: var(--white);
    letter-spacing: 1rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
}

.logo {
    flex: 1 1 60rem;
    color: var(--white);
    font-size: var(--header3);
    font-weight: 900;
    letter-spacing: 0.1rem;
    margin-left: 3rem;
}

.nav-bar{
    flex: 1 1 40rem;
    display: flex;
    justify-content: space-evenly;
}

.nav-bar a {
    color: white;
    font-size: 1.2rem;
    padding: 1.2rem 2rem;
    border-radius: 5rem;
}

.nav-bar a:hover {
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
    text-transform: uppercase;
    font-family: 'Fraunces', serif;
    font-weight: 700;
}

.nav-bar a:focus {
    color: black;
    background-color: rgba(255, 255, 255, 1);
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero h1 {
    margin: 5rem 0;
}

.hero img {
    width: auto;
    height: 150px;
}

#hamburger {
    display: none;
}


/* 2. HERO  DESKTOP*/

/* 3. FEATURES DESKTOP*/

/* 4. TESTIMONIALS DESKTOP*/

/* 5. IMAGES BAR DESKTOP*/

/* 6. FOOTER DESKTOP*/


/* MOBILE */
@media screen and (max-width: 1024px) {
    #hamburger {
        display: block;
        margin-right: 3rem;
        position: relative;
        cursor: pointer;
    }

    .nav-bar {
        display: none;
    }

    .nav-bar.open {
        display: block;
        position: absolute;
        background-color: white;
        top: 15%;
        left: 50%;
        margin-left: -44vw;
        width: 90%;
        text-align: center;
        z-index: 2;
    }

    .nav-bar.open::after{
        content: "";
        position: absolute;
        bottom: 100%;
        right: 0%;
        /* margin-left: 196px; */
        border-width: 1rem;
        border-style: solid;
        border-color: transparent;
        border-right-color: white;
        border-bottom-color: white;
    }

    .nav-bar.open li{
        margin: 2rem 5rem;
    }

    .nav-bar.open a{
        color: var(--very-dark-desaturated-blue);
    }

    .nav-bar a:hover {
        color: black;
        background-color: rgba(250, 212, 0, 0.8);
        text-transform: uppercase;
        font-family: 'Fraunces', serif;
        font-weight: 700;
    }
    
    .nav-bar a:focus {
        color: black;
        background-color: rgba(250, 212, 0, 0.8);
    }

}

@media screen and (max-width: 768px) {
    /* 1. NAVBAR MOBILE*/
.main-header {

}

nav {

}

.hero {

}

.logo {

}

.nav-bar{

}

.nav-bar li {

}

.nav-bar a {

}

/* 2. HERO  MOBILE*/

/* 3. FEATURES MOBILE*/

/* 4. TESTIMONIALS MOBILE*/

/* 5. IMAGES BAR MOBILE*/

/* 6. FOOTER MOBILE*/

}

